
section.page,
section.posts-page,
section.post-page,
section#contracts_page {
    padding-top: 7rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;

}

blockquote {
    padding: 13.5px 27px;
    margin: 0 0 27px;
    font-size: 18px;
    border-left: 5px solid $primary;
}

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 0;
}

a {
    transition: all .35s;
    word-wrap: break-word;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.other-projects {
    position: relative;
    width: 100%;
    height: 150px;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-bottom: 20px;
}

.project1 {
    background-image: url("./img/lasonajadelavida.jpg");
}

.project2 {
    background-image: url('./img/paredon.jpg');
}

.project3 {
    background-image: url('./img/vivirconvih.png');
}

.project4 {
    background-image: url('./img/comprasarv.jpg');
}

@media (max-width: 992px) {
    .card-deck {
        display: flex;
        flex-direction: column;
    }
    .card-deck .card {
        margin-bottom: 15px;
    }
    .other-projects {
        height: 300px;
    }
}